$navbar-height: 60px;
$sidebar-width:260px;
$sidebar-pinned-wdth:70px;
$gizele-border-radius: 10px;

$gizele-orange: #FF6C37;
$gizele-white: #fefefe;
$muted-color: #6c757d;

$gizele-dark-blue: #00447f;
$gizele-light-blue: #00abe3;
$gizele-gray: #dedede;
$gizele-offwhite: #e5e5e5;
$gizele-white: #fefefe;

$tr-border-color: rgba(black, 0.2);
$tr-border-thickness: 2px;
$tr-header-color: #ebebeb;

$edit-color: #d9cd26;
$delete-color: #e35e6b;
