<h2 mat-dialog-title>{{data.title}}</h2>
<form [formGroup]="produtoForm">
  <mat-dialog-content>
    <div *ngIf="data.title==='Excluir produto'; else elseBlock">
      <h3>O produto <i>{{ data.name }}</i> será excluído. Deseja prosseguir?</h3>
    </div>

    <ng-template #elseBlock>
      <!-- Seleção entre marmita ou bebida -->
      <div class="d-flex">
        <mat-form-field class="w-100">
          <mat-label>Tipo de produto</mat-label>
          <mat-select formControlName="type" required>
            <mat-option value="marmita">Marmita</mat-option>
            <mat-option value="bebida">Bebida</mat-option>
          </mat-select>
          <mat-error>Deve ser selecionando o tipo de produto a ser cadastrado</mat-error>
        </mat-form-field>
      </div>

      <!-- Nome e Preço -->
      <div class="d-flex">
        <mat-form-field class="w-50">
          <input matInput placeholder="Nome" formControlName="name" required>
          <mat-error>Campo nome é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field class="w-50">
          <input matInput type="number" placeholder="Preço" formControlName="price" required>
          <span matPrefix>R$&nbsp;</span>
          <mat-error>Campo preço à vista é obrigatório</mat-error>
        </mat-form-field>
      </div>

      <!-- Descrição -->
      <div class="d-flex mb-lg">
        <mat-form-field class="w-100" hintLabel="Max 1000 caracteres">
          <textarea matInput #input maxlength="1000" placeholder="Descrição" formControlName="description"
            required></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
          <mat-error>Campo descrição é obrigatório</mat-error>
        </mat-form-field>
      </div>

      <!-- Upload de Imagem -->
      <label class="label">Inserir imagem do produto (OBS: apenas imagem menores que 1MB serão aceitas)</label>
      <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
          accept="image/*" />
      <img class="img-upload" [src]="img64" height="200" *ngIf="img64">

      <!-- <file-upload formControlName="image" [required]="!vaiEditar"></file-upload>
      <mat-error *ngIf="produtoForm.get('image')?.errors?.filesLimit">
        Deve ser inserido ao menos 1 imagem para o produto
      </mat-error>
      <mat-error *ngIf="!vaiEditar && produtoForm.get('image')?.errors?.required">Imagem é obrigatório</mat-error> -->

      <!-- Imagens -->
      <label *ngIf="vaiEditar && data.image" class="label">Remover imagem atual do produto</label>
      <div *ngIf="vaiEditar">
        <a class="cursor-pointer remove-image" (click)="removerImagem(data.image)">
          <i class="material-icons" #tooltip="matTooltip" matTooltip="Remover imagem do produto"
            matTooltipPosition="above">
            delete
          </i>
        </a>
        <br>
        <img src="{{transformImageUrl(data.image)}}" onerror="this.src='../../../../assets/img/dump3.png'"
          alt="Imagem" class="cursor-pointer" (click)="abrirModalImagem(data.image)">
      </div>
    </ng-template>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="secondary" (click)="onNoClick()"
      class="mat-elevation-z4">Cancelar</button>

    <button mat-raised-button color="primary" (click)="confirm()" *ngIf="data.title!=='Excluir produto'"
      [disabled]="produtoForm.invalid" class="mat-elevation-z4">{{data.title}}</button>

    <button mat-raised-button color="warn" (click)="confirm()" *ngIf="data.title==='Excluir produto'"
      class="mat-elevation-z4">{{data.title}}</button>

  </mat-dialog-actions>
</form>
