@import '../../../../assets/partials/variables';
// @import '../../../../assets/partials/mixins';

mat-form-field {
  margin: 10px;
}

h3 {
    color: #8F8286;
}

.label {
  margin: 30px 0 20px 15px;
  color: $brasa-orange;
}

input[type='file'] {
  display: none
}

.label-input-file {
  background-color: $brasa-orange;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}

.img-container {
  display: flex;
  align-items: flex-start;
}

img {
  width: 50%;
  height: 30%;
  object-fit: cover;
  margin: 20px 0 30px 20px;
  border-radius: 5px;
  // @include brasa-items-border;
}

.remove-image > i {
  color: #e35e6b;
  font-size: 30px;
}

.mb-lg {
  margin-bottom: 30px;
}
