@import "../../../../assets/partials/variables";
@import "../../../../assets/partials/mixins";

.caption-table {
  display: flex;
  display: inline;
  text-align: center;
  font-size: 16px;

  margin: 0 0 20px 0;
}

.header-table {
  background-color: $tr-header-color;
  border-radius: $brasa-border-radius;
  align-items: center;
  height: 35px;
  font-size: 12px;

  margin: 16px 0 20px 0;
  padding: 0 2px;
}

.body-table {
  border: solid 2px $tr-border-color;
  border-radius: $brasa-border-radius;
  align-items: center;
  height: 50px;

  margin: 0 0 20px 0;
  padding: 0 2px;
}

.coluna-imagem {
  width: 3vw;
  height: 5vh;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
