<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
  <mat-list *ngIf="data.pedido.withdrawal==='entrega'">
    <div matSubheader class="caption-table">Endereço</div>
    <div class="row header-table">
      <span class="col-md-3">Cidade</span>
      <span class="col-md-2">CEP</span>
      <span class="col-md-3">Bairro</span>
      <span class="col-md-3">Rua</span>
      <span class="col-md-1">Número</span>
    </div>
    <div class="row body-table">
      <span class="col-md-3">{{ data.pedido.address_city }}</span>
      <span class="col-md-2">{{ data.pedido.cep | mask: '00000-000' }}</span>
      <span class="col-md-3">{{ data.pedido.address_neighborhood }}</span>
      <span class="col-md-3">{{ data.pedido.address_street }}</span>
      <span class="col-md-1">{{ data.pedido.address_number }}</span>
    </div>
  </mat-list>

  <mat-list *ngIf="data.pedido.withdrawal==='entrega' && data.pedido.reference_point">
    <div matSubheader class="caption-table">Ponto de referência</div>
    <div class="row body-table">
      <span class="col-md-12">{{data.pedido.reference_point}}</span>
    </div>
  </mat-list>

  <mat-list>
    <div matSubheader class="caption-table">Produto(s)</div>
    <div class="row no-gutters header-table">
      <span class="col-md-3">Produto</span>
      <span class="col-md-1">Preço</span>
      <span class="col-md-3">Observação</span>
      <span class="col-md-4">Opçoes de carne</span>
      <span class="col-md-1">Total item</span>
    </div>
    <div class="row no-gutters body-table" *ngFor="let produto of data.pedido.orderToProducts">
      <span class="col-md-3">{{produto.amount}} {{produto.products.name}}</span>
      <span class="col-md-1">{{produto.products.price | currency}}</span>
      <span class="col-md-3">{{produto.observation ? produto.observation : '---'}}</span>
      <span class="col-md-4">{{produto.meet_options ? produto.meet_options : '---'}}</span>
      <span class="col-md-1">{{produto.total_item | currency}}</span>
    </div>
  </mat-list>

  <mat-list>
    <div matSubheader class="caption-table">Pagamento</div>
    <div class="row header-table">
      <span class="col-md-3">Troco</span>
      <span class="col-md-3">Frete</span>
      <span class="col-md-3">Tipo de pagamento</span>
      <span class="col-md-3">Total geral</span>
    </div>
    <div class="row body-table">
      <span class="col-md-3">{{data.pedido.change_of_money ? data.pedido.change_of_money : '---'}}</span>
      <span class="col-md-3">{{data.pedido.cost_freight===0 ? 'Frete grátis' : data.pedido.cost_freight |
        currency}}</span>
      <span class="col-md-3">{{data.pedido.payment}}</span>
      <span class="col-md-3">{{data.pedido.total | currency}}</span>
    </div>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="confirm()" class="mat-elevation-z4 color-button">
    Fechar
  </button>
</mat-dialog-actions>
