@import "../../../../assets/partials/variables";
@import "../../../../assets/partials/mixins";

h3 {
  color: #8f8286;
}

.label {
  margin: 30px 0 30px 0;
  color: $brasa-orange;
}

.addProduto > i {
  color: #28a745;
  font-size: 38px;
}

table {
  width: 100%;
  margin: 40px 0 40px 0;
  text-align: center;
  border-color: black;
}

th {
  background-color: #dedede;
}

th,
td {
  padding: 5px 0 5px 0;
}

tbody tr {
  border: solid 2px #dedede;
}

.delete > i {
  color: $delete-color;
}

.frete {
  text-align: start;
  .total-geral {
    padding-left: 20px;
  }
}

tfoot {
  background-color: #dedede;
  font-weight: bold;
  text-align: start;
  .total-geral {
    padding-left: 20px;
  }
}
