<h2 mat-dialog-title>{{data.title}}</h2>
<form [formGroup]="orderForm">
  <mat-dialog-content>
    <!-- Entrega, Qtd produto, Tipo produto, Produto -->
    <div class="row mb-4">
      <mat-form-field class="col-2">
        <mat-label>Retirada</mat-label>
        <mat-select formControlName="withdrawal" required>
          <mat-option value="local">Restaurante</mat-option>
          <mat-option value="entrega">Entrega</mat-option>
        </mat-select>
        <mat-error>Deve ser selecionando o ponto de retirada</mat-error>
      </mat-form-field>
      <mat-form-field class="col-2">
        <input matInput type="number" min=1 placeholder="Qtd produto" formControlName="amount">
        <mat-error *ngIf="orderForm.get('amount')?.errors?.min">
          A quantidade deve ser maior ou igual a um
        </mat-error>
        <mat-error *ngIf="orderForm.get('amount')?.errors?.inteiro">
          A quantidade deve ser um numero inteiro
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>Tipo de produto</mat-label>
        <mat-select formControlName="selectSize" (selectionChange)="getProductPerType($event)">
          <mat-option *ngFor="let item of listSize" [value]="item">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>Produto</mat-label>
        <mat-select formControlName="selectProduct">
          <mat-option *ngFor="let product of listProducts" [value]="product">
            {{ product.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Acréscimo, Qtd acréscimo, Observação -->
    <div class="row mb-4">
      <mat-form-field class="col-3">
        <mat-label>Acréscimo</mat-label>
        <mat-select formControlName="meet_options">
          <mat-option *ngFor="let option of listOptions" [value]="option">
            {{ option.name }} -- {{ option.price | currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-2">
        <input matInput type="number" min=1 placeholder="Qtd acréscimo" formControlName="amountOption">
        <mat-error *ngIf="orderForm.get('amountOption')?.errors?.min">
          Quantidade deve ser maior ou igual a um
        </mat-error>
        <mat-error *ngIf="orderForm.get('amountOption')?.errors?.inteiro">
          Quantidade deve ser um numero inteiro
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Observação" formControlName="observation">
      </mat-form-field>
      <div class="col-1">
        <a class="cursor-pointer addProduto" (click)="adicionarProduto()">
          <i class="material-icons" #tooltip="matTooltip" matTooltip="Adicionar produto" matTooltipPosition="above">
            add_box
          </i>
        </a>
      </div>
    </div>

    <!-- Tabela dos produtos ao editar -->
    <table *ngIf="vaiEditar && data.products.length > 0">
      <thead>
        <tr>
          <th>Quantidade</th>
          <th>Produto</th>
          <th>Acréscimos</th>
          <th>Observação</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.products; let i = index;">
          <td>{{ item.amount }}</td>
          <td>{{ item.products.name }} -- {{ item.products.price | currency }}</td>
          <td>{{ item.meet_options }}</td>
          <td>{{ item.observation }}</td>
          <td>
            <a class="cursor-pointer delete" (click)="excluirProduto(i)">
              <i class="material-icons" #tooltip="matTooltip" matTooltip="Excluir produto"
                matTooltipPosition="above">
                delete
              </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Cliente, Telefone, Cep -->
    <div class="row mb-4">
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome do cliente" formControlName="client_name" required>
        <mat-error>Campo nome do cliente é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field class="col-3">
        <input matInput placeholder="Telefone" formControlName="phone" mask="(00) 0000-0000 || (00) 00000-0000"
          [showMaskTyped]="true" [required]="orderForm.get('withdrawal').value==='entrega'">
        <mat-error>Campo telefone é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-3">
        <input matInput placeholder="CEP" formControlName="cep" mask="00000-000" [showMaskTyped]="true"
          (blur)="buscarCEP()">
        <!-- <mat-error *ngIf="orderForm.get('cep')?.errors?.cepInvalido">
          O CEP inserido é inválido
        </mat-error> -->
      </mat-form-field>
    </div>

    <!-- Bairro, Rua, Número -->
    <div class="row mb-4">
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-5">
        <input matInput placeholder="Endereço do bairro" formControlName="address_neighborhood" [matAutocomplete]="auto"
          (blur)="buscarFrete()" [required]="orderForm.get('withdrawal').value==='entrega'">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let frete of listFrete" [value]="frete.neighborhood">
            {{frete.neighborhood}} -- {{frete.shipping_value | currency}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>Endereço do bairro é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-5">
        <input matInput placeholder="Endereço da rua" formControlName="address_street" [required]="orderForm.get('withdrawal').value==='entrega'">
        <mat-error>Endereço da rua é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-2">
        <input matInput type="number" min=1 placeholder="Número" formControlName="address_number" [required]="orderForm.get('withdrawal').value==='entrega'">
        <mat-error *ngIf="orderForm.get('address_number')?.errors?.required">
          Número da casa é obrigatório
        </mat-error>
        <mat-error *ngIf="orderForm.get('address_number')?.errors?.min">
          Quantidade deve ser maior ou igual a um
        </mat-error>
        <mat-error *ngIf="orderForm.get('address_number')?.errors?.inteiro">
          Quantidade deve ser um numero inteiro
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tipo pagamento, Custo frete, Troco -->
    <div class="row mb-4">
      <mat-form-field class="col-3">
        <mat-label>Tipo de pagamento</mat-label>
        <mat-select formControlName="payment" (selectionChange)="setTroco($event)" required>
          <mat-option value="pix">Pix</mat-option>
          <mat-option value="dinheiro">Dinheiro</mat-option>
          <mat-option value="credito">Cartão de Crédito</mat-option>
          <mat-option value="debito">Cartão de Débito</mat-option>
        </mat-select>
        <mat-error>Deve ser selecionando o tipo de pagamento</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-3">
        <input matInput type="number" placeholder="Custo do frete" formControlName="cost_freight" [required]="orderForm.get('withdrawal').value==='entrega'">
        <span matPrefix>R$&nbsp;</span>
        <mat-error>Custo do frete é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-3">
        <input matInput type="number" placeholder="Troco" formControlName="change_of_money" [required]="orderForm.get('withdrawal').value==='entrega'">
        <mat-error>Custo do frete é obrigatório</mat-error>
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>
    </div>

    <!-- Cidade, ponto de referência -->
    <div class="row mb-4">
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-6">
        <input matInput placeholder="Cidade" formControlName="address_city">
        <mat-error>Cidade é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="orderForm.get('withdrawal').value==='entrega'" class="col-6">
        <input matInput placeholder="Ponto de referência" formControlName="reference_point">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="secondary" (click)="onNoClick()"
      class="mat-elevation-z4">Cancelar</button>

    <button mat-raised-button color="primary" (click)="confirm()" [disabled]="orderForm.invalid"
      class="mat-elevation-z4 color-button">{{data.title}}</button>
  </mat-dialog-actions>
</form>
