.card-contentainer {
    display: flex;
    align-items: flex-start;
    margin: 1em;
    max-width: 90em;
}

.example-header-image {
    background-size: cover;
    display: inline flex;
}

.media-text {
    flex: 1;
    padding: 1em 1em 0 1em;
}

img {
    width: 25vw;
    height: 35vh;
}

p {
    text-align: justify;
}