/* You can add global styles to this file, and also import other style files */

// $fa-font-path:"~font-awesome/fonts";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$hamburger-padding-x           : 0px !default;
$hamburger-padding-y           : 0px !default;
$hamburger-layer-width         : 25px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : #9b9ea2 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;

@import '~bootstrap/scss/bootstrap';
// @import '~font-awesome/scss/font-awesome';
// @import '~hamburgers/_sass/hamburgers/hamburgers';
// @import '~ngx-toastr/toastr-bs4-alert';


// Serve para mudar as cores de tema do material em toda a aplicação,
// tais como buttons, inputs, tabs, etc.
// ************************ Angular Material ************************

@import '~@angular/material/theming';
@include mat-core();
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-deep-orange, A200, A100);
$candy-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));
@include angular-material-theme($candy-app-theme);

// ******************************************************************


@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import './assets/lightning-admin';

.msg-success {
    background-color: #28a745;
    color: #fff;
}

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.color-button {
  color: #fff !important;
}

.spinner-login {
  text-align: center;
  border-radius: 5px;
  background-color: $brasa-orange;
  color: #fff;
  padding: 8px;
  font-size: initial;
}

.spinner {
  text-align: center;
  margin: 40px 10px 0px 70px;
  border-radius: 5px;
  background-color: $brasa-orange;
  color: #fff;
  padding: 8px;
  font-size: initial;
}

.spinner-row {
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: initial;
}
