<h1>Dashboard</h1>
<hr>

<div class="row">

  <div class="col-md-6 col-lg-3 mb-4">
    <div class="card border-0 rounded-0">
      <mat-card class="card-container mat-elevation-z8">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light size-icon">
              <i class="fa fa-shopping-cart" aria-hidden="true"
                #tooltip="matTooltip" matTooltip="Total de pedidos entregue hoje" matTooltipPosition="above"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Pedidos hoje</p>
              <h4 class="card-text text-right "><b>{{ totalPedidos }}</b></h4>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 mb-4">
    <div class="card border-0 rounded-0">
      <mat-card class="card-container mat-elevation-z8">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light size-icon">
              <i class="fas fa-dollar-sign" aria-hidden="true"
              #tooltip="matTooltip" matTooltip="Vendas entregue nas últimas 24 horas" matTooltipPosition="above"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total no dia</p>
              <h4 class="card-text text-right "><b>{{ relatorio.totalDay | currency }}</b></h4>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 mb-4">
    <div class="card border-0 rounded-0">
      <mat-card class="card-container mat-elevation-z8">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light size-icon">
              <i class="fas fa-dollar-sign" aria-hidden="true"
              #tooltip="matTooltip" matTooltip="Vendas entregue nas últimos 7 dias" matTooltipPosition="above"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total na semana</p>
              <h4 class="card-text text-right "><b>{{ relatorio.totalWeek | currency }}</b></h4>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 mb-4">
    <div class="card border-0 rounded-0">
      <mat-card class="card-container mat-elevation-z8">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light size-icon">
              <i class="fas fa-dollar-sign" aria-hidden="true"
              #tooltip="matTooltip" matTooltip="Vendas entregue nas últimos 30 dias" matTooltipPosition="above"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total no Mês</p>
              <h4 class="card-text text-right "><b>{{ relatorio.totalMonth | currency }}</b></h4>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-12 mb-4">
    <div class="card border-0 rounded-0">
      <mat-card class="card-container mat-elevation-z8">
        <div class="card-title mb-1 p-3 d-flex">
          <h1>Vendas de produtos - {{tempoChart}}</h1>
          <a class="btn ml-auto p-0 text-lightning">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="filtroChart('dia')">
                <mat-icon>attach_money</mat-icon>
                <span>Por dia</span>
              </button>
              <button mat-menu-item (click)="filtroChart('semana')">
                <mat-icon>attach_money</mat-icon>
                <span>Por semana</span>
              </button>
              <button mat-menu-item (click)="filtroChart('mês')">
                <mat-icon>attach_money</mat-icon>
                <span>Por mês</span>
              </button>
            </mat-menu>
          </a>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <canvas id="chart-bar" width="2" height="1"></canvas>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>
